-@ val scope: List[String]

.ui.raised.segment
    .ui.breadcrumb.mar-b-30
        a.section= "Home"
        i.right.chevron.icon.divider
        .active.section=" Login"

    h1= "You are not logged in"
    a.ui.button.primary(href="/start")= "Click here to login"

    div.ui.horizontal.divider= "Debug"

    div.ui.blue.labels(style="margin-top: 20px")
        - for(value <- scope)
            a.ui.label= value

